

.btn-primary{
  background-color: purple !important;
  border: none !important;
  border-radius: 50% !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.btn-primary:hover{
  background-color: crimson !important;
}
